= form_for @device do |f|
  - if @device.errors.any?
    #error_explanation
      %h2= "#{pluralize(@device.errors.count, "error")} prohibited this device from being saved:"
      %ul
        - @device.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :type_device
    = f.text_field :type_device
  .field
    = f.label :so
    = f.text_field :so
  .field
    = f.label :version
    = f.text_field :version
  .field
    = f.label :no_serie
    = f.text_field :no_serie
  .field
    = f.label :id_inventario
    = f.text_field :id_inventario
  .field
    = f.label :udid
    = f.text_field :udid
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :color
    = f.text_field :color
  .actions
    = f.submit 'Save'
