<!DOCTYPE html>
%html
  %head
    %title=TestingDeviseApp
    = stylesheet_link_tag "application", media: "all"
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    = javascript_include_tag "application"
    = csrf_meta_tags
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  %body{"data-spy" => "scroll", "data-target" => ".bs-docs-sidebar", "data-twttr-rendered" => "true"}
    .container
      #alerts-container
        - if notice
          = render 'layouts/alert', :alert => notice
    = yield
    = render 'layouts/footer'
